$fontSize: 32px;
$width: 30%;
$mobileWidth: 10%;

///////////////////////////////////////////////////////

$themeOneMainBG: hsl(222, 26%, 31%);
$themeOneToggleBG: hsl(223, 31%, 20%);
$themeOneScreenBG: hsl(224, 36%, 15%);
$themeOneKeyBG: hsl(225, 21%, 49%);
$themeOneKeyShadow: hsl(224, 28%, 35%);
$themeOneKeyToggleBG: hsl(6, 63%, 50%);
$themeOneKeyToggleShadowBG: hsl(6, 70%, 34%);
$themeOneSpecialKeyBG: hsl(30, 25%, 89%);
$themeOneSpecialKeyShadow: hsl(28, 16%, 65%);
$themeOneDarkTextColor: hsl(221, 14%, 31%);
$themeOneLightTextColor: hsl(0, 0, 100%);

///////////////////////////////////////////////////////

$themeTwoMainBG: hsl(0, 0%, 90%);
$themeTwoToggleBG: hsl(0, 5%, 81%);
$themeTwoScreenBG: hsl(0, 0%, 93%);
$themeTwoKeyBG: hsl(185, 42%, 37%);
$themeTwoKeyShadow: hsl(185, 58%, 25%);
$themeTwoKeyToggleBG: hsl(25, 98%, 40%);
$themeTwoKeyToggleShadowBG: hsl(25, 99%, 27%);
$themeTwoSpecialKeyBG: hsl(45, 7%, 89%);
$themeTwoSpecialKeyShadow: hsl(35, 11%, 61%);
$themeTwoDarkTextColor: hsl(60, 10%, 19%);
$themeTwoLightTextColor: hsl(0, 0, 100%);

///////////////////////////////////////////////////////

$themeThreeMainBG: hsl(268, 75%, 9%);
$themeThreeToggleBG: hsl(268, 71%, 12%);
$themeThreeScreenBG: hsl(268, 71%, 12%);
$themeThreeKeyBG: hsl(281, 89%, 26%);
$themeThreeKeyShadow: hsl(285, 91%, 52%);
$themeThreeKeyToggleBG: hsl(176, 100%, 44%);
$themeThreeKeyToggleShadowBG: hsl(177, 92%, 70%);
$themeThreeSpecialKeyBG: hsl(268, 47%, 21%);
$themeThreeSpecialKeyShadow: hsl(290, 70%, 36%);
$themeThreeDarkTextColor: hsl(221, 14%, 31%);
$themeThreeLightTextColor: hsl(0, 0, 100%);
$themeThreeYellowTextColor: hsl(52, 100%, 62%);

///////////////////////////////////////////////////////
